.container {
  margin: 30px;
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 4px;
}
li {
  list-style: none;
  padding: 5px;
}
input {
  height: 30px;
  width: 100vh;
  border-radius: 4px;
  border: 1px solid #efefef;
}
input span {
  padding: 0;
}
h1 {
  text-align: center;
}
label {
  font-family: Georgia, "Times New Roman", Times, serif;
}
